html, body {
  overflow: hidden;
}

form.collection.page-width {
  display: flex;
  flex-direction: column;
}
form.collection .collection--clear-all a {
  color: #000;
}
form.collection .collection--summary-wrapper {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 0 15px;
  background-color: #fff;
}
form.collection .collection--summary-title {
  font-weight: bold;
}
form.collection #ProductCountDesktop {
  margin-left: auto;
}
form.collection .collection--filters {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
form.collection .collection--filters-title {
  margin-right: 15px;
}
form.collection .collection--filters details {
  position: relative;
  margin-right: 15px;
}
form.collection .collection--filters details .filter-details {
  position: absolute;
  background: #fff;
  z-index: 2;
  border: 1px solid #000;
  padding: 10px 40px 25px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
}
@media screen and (max-width: 500px) {
  form.collection .collection--filters details .filter-details {
    padding: 10px 17px 25px;
  }
}
form.collection .collection--filters details .filter-details li label {
  font-size: 14px;
}
form.collection .collection--filters details[open] .filter-details {
  visibility: visible;
  opacity: 1;
}
form.collection .collection--filters details ul {
  list-style: none;
  padding-left: 0;
}
form.collection .collection--filters details input {
  cursor: pointer;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 15px;
}
form .filter-group-display__price-range {
  margin-bottom: 15px;
}
form .filter-group-display__price-range-from {
  margin-bottom: 10px;
}
form .filter-group-display__price-range-to {
  margin-bottom: 30px;
}