html, body {
    overflow: hidden;
}

form {

    &.collection {
        &.page-width {
            display: flex;
            flex-direction: column;
        }

        .collection {
            &--clear-all {
                a {
                    color: #000;
                }
            }
    
            &--summary-wrapper {
                display: inline-block;
                border: 1px solid #000;
                border-radius: 15px;
                padding: 0 15px;
                background-color: #fff;
            }

            &--summary-title {
                font-weight: bold;
            }
        }


        #ProductCountDesktop {
            margin-left: auto;
        }

        .collection--filters {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;

            &-title {
                margin-right: 15px;
            }

            details {
                position: relative;
                margin-right: 15px;

                .filter-details {
                    position: absolute;
                    background: #fff;
                    z-index: 2;
                    border: 1px solid #000;
                    padding: 10px 40px 25px;
                    border-radius: 5px;

                    visibility: hidden;
                    opacity: 0;
                    transition: all 1s ease;

                    @media screen and (max-width: 500px) {
                        padding: 10px 20px 25px;
                    }
                }

                &[open]{
                    .filter-details {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                ul {
                    list-style: none;
                    padding-left: 0;
                }

                input {
                    cursor: pointer;
                    border-radius: 7px;
                    padding: 5px 10px;
                    font-size: 15px;
                }
            }
            
        } 
    }

    .filter-group-display__price-range {
        margin-bottom: 15px;
    }

    .filter-group-display__price-range-from {
        margin-bottom: 10px;
    }

    .filter-group-display__price-range-to {
        margin-bottom: 30px;
    }

}